:root {
	--back: rgb(155, 218, 155);
    --backtitle: rgb(88, 108, 88);
	--border: black;
	--lines: green;
	--shadow:blue;
	--zebra: rgb(234, 127, 127);
}


table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	font-size: .85rem;
}


tr:first-child th {
	background-color: var(--back); 
    text-align: center;
}

 td {
	padding: 7px 15px;
	border: 1px solid var(--lines);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
