@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Inter:wght@600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Inter:wght@600&family=Montserrat:wght@500&family=Nunito:wght@300&display=swap');


*{
    margin:0;
  }

  nav {
    max-width: 100%;
    padding: 0px;
    background: #134074;
  }
  
  #menu {
      font-size: 1.5rem;
      border: 1px solid rgba(0,0,0,.3);
      padding: 3px 7px 6px;
      background-color: #eee;
      color: #000;
       position: absolute;
      top: 1rem;
      right: 1rem;
  }
  
  #menu::before {
      content: "☰";
  }
  
  #menu.open::before {
      content: "X";
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #d5dcd4;
    padding: 0px;
    border: 2px solid black;
  }
  
  .navigation li {
      display: none;
  }
  .navigation li a {
      display: block;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #fff;
  }
  
  .navigation li a:hover {
      background-color: #bbb;
      color: #333;
      font-weight: 700;
  }
  
  .open li {
      display: block;
      width: 100%;
  }
  .open li a {
      display: block;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
  }


  header{
      background: #8DA9C4;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
  }
  
  p {
    font-family: 'Arimo', sans-serif;
    padding: 2px;
  }

  
  
  footer{
      background: #8DA9C4;
      padding: 25px 50px;
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .contact li{
      display: block;
      text-align: center;
      text-decoration: none;
  }
  
  footer p {
      font-size: 1.2em;
  } 
  
  main{
      max-width: 100%;
      margin: auto;
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto auto;
      column-gap: 10px;
      row-gap:10px;
  }
  
  .image{
      grid-column: 2/3;
      grid-row: 2/3;
      text-align: center;    
  }

  .image img{
    width:400px;
    height:400px;
    object-fit: fill
  }
  
  .current{
      grid-column: 1/4;
      grid-row: 1/2;
      text-align: center;
      background:#d5dcd4;
      margin-top:10px;
  }
  
  .current h2{
        margin: 0px;
  }
  
  .action{
      grid-column: 1/2;
      grid-row: 2/4;
      text-align: center;
      background: #8DA9C4;
  }
  
  .action h2{
        margin: 5px;
  }
  
  .weather{
      grid-column: 2/3;
      font-size: 24px;
      text-align: center;
      grid-row: 3/4;
      background:#d5dcd4;
  }
  
  .weather h2{
        background: #8DA9C4;
        margin-top: 0px;
  }
  
  .spotlight{
      grid-column: 3/4;
      grid-row: 2/4;
      text-align: center;
  }
  
  .spotlight h2{
        margin: 5px;
        padding-top: 5px;
        border: 2px solid black;
  }
  .member1{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  .member2{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  .member3{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  #mode {
	position: absolute;
	top: 1rem;
	right: 4rem;
	font-size: 3rem;
	cursor: pointer;
}
@media only screen and (max-width: 600px) {
    main{
        display: block;
    }

    footer{
            display: block;
    }


}
  
  @media (min-width: 37.5em) {
  
      #menu {
          display: none;
      }
  
      .navigation {
          flex-direction: row;
      }
  
      .navigation li {
          display: block;
          flex: 1 1 100%;
      }
    }
  
  
  