@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Inter:wght@600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Inter:wght@600&family=Montserrat:wght@500&family=Nunito:wght@300&display=swap');


*{
    margin:0;
  }


:root {
	--back: #8DA9C4;;
    --backtitle: #134074;
	--border: black;
	--lines: black;
	--shadow: rgba(255, 255, 255, 0.394);
	--zebra: #85b9f6;
}
  nav {
    max-width: 100%;
    padding: 0px;
    background: #134074;
  }
  
  #menu {
      font-size: 1.5rem;
      border: 1px solid rgba(0,0,0,.3);
      padding: 3px 7px 6px;
      background-color: #eee;
      color: #000;
       position: absolute;
      top: 1rem;
      right: 1rem;
  }
  
  #menu::before {
      content: "☰";
  }
  
  #menu.open::before {
      content: "X";
  }
  
  .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #d5dcd4;
    padding: 0px;
    border: 2px solid black;
  }
  
  .navigation li {
      display: none;
  }
  .navigation li a {
      display: block;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #fff;
  }
  
  .navigation li a:hover {
      background-color: #bbb;
      color: #333;
      font-weight: 700;
  }
  
  .open li {
      display: block;
      width: 100%;
  }
  .open li a {
      display: block;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
  }
  p {
    font-family: 'Arimo', sans-serif;
    padding: 1em;
  }


  header{
      background: #8DA9C4;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
  }

  
  
  footer{
      background: #8DA9C4;
      padding: 25px 50px;
      margin-top: 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .contact li{
      display: block;
      text-align: center;
      text-decoration: none;
  }
  
  footer p {
      font-size: 1.2em;
  } 
  
  main{
      max-width: 100%;
      display: grid; 
      grid-template-columns: auto;
      grid-template-rows: auto;
      column-gap: 10px;
      row-gap:10px;
      box-sizing: border-box;
      margin-left: 40px;
      margin-right: 40px;
  }

  .hero {
	margin: 10px auto; 
	position: relative; 
	border: 1px solid rgba(0,0,0,.1);
    width: 100%; 
	grid-column: 1/4;
	grid-row: 1/2;
	background-size: contain;

}

 .hero img{ 
	width: 100%;
	height: 100%;
	object-fit: cover;
}
  .image{
      grid-column: 2/3;
      grid-row: 3/4;
      text-align: center;    
  }

  .image img{
    width:400px;
    height:400px;
    object-fit: fill
  }
  
  .current{
      grid-column: 1/4;
      grid-row: 2/3;
      text-align: center;
      background:#d5dcd4;
      margin-top:10px;
  }
  
  .current h2{
        margin: 0px;
  }
  
  .action{
      grid-column: 1/2;
      grid-row: 3/6;
      text-align: center;
      background: #8DA9C4;
  }
  
  .action h2{
        margin: 5px;
  }
  
  .weather{
      grid-column: 2/3;
      font-size: 24px;
      text-align: center;
      grid-row: 4/6;
      background:#d5dcd4;
  }

  .weather ul li{
    list-style: none;
  }
  
  .weather h2{
        background: #8DA9C4;
        margin-top: 0px;
  }
  
  .spotlight{
      grid-column: 3/4;
      grid-row: 3/6;
      text-align: center;
  }
  
  .spotlight h2{
        margin: 5px;
        padding-top: 5px;
        border: 2px solid black;
  }
  .member1{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  .member2{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  .member3{
    background: #8DA9C4;
    margin: 5px;
    padding-top: 5px;
  }

  #mode {
	position: absolute;
	top: 1rem;
	right: 4rem;
	font-size: 3rem;
	cursor: pointer;
}

.imgside{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/5;
    aspect-ratio: 1/1;
    width: 100%;
    animation: fade 15s;
    object-fit: cover;
}  

.imgside img {
    grid-column: 2/3;
}

.contentside{
    grid-column: 1/2;
    text-align: center;
    background:#d5dcd4;
    margin: 5px;
    padding-top: 5px;
}

.contentside li{
    display: block;
    text-align: center;
    text-decoration: none;
}

.imagebox { 
    position: relative;
     height: auto;
     width: auto;
     float: left; 
     margin-bottom: 10px;                  
}

.imagebox img {
 vertical-align: middle;
     height: 400px;
     width: 100%;
}
.content{
   width:auto;
   height:auto;
   background:#8DA9C4;;
   background-color: #eee;
   opacity:0;   
   position: absolute;
   top: 40px; 
}

.imagebox:hover .content
{ 
   opacity: 0.6;
   text-align:center;
   color:#000000;
   font-size:20px;
   font-weight:700;
   font-family: 'Arimo', sans-serif;
}


form fieldset{
    margin: 2rem 1px;
    border: 1px solid var(--back);
    border-radius: 10px;
    padding: .5rem 2%;
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;

}

form legend{
    color: var(--back);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .8rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: .75rem;
    width: 100%;
    color: #555;
    max-width: 20rem;
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: black;
}

form input.submitBtn{
    border: none;
    background-color: var(--back);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 50%;
    max-width: 20rem;
}



form label.top input:required:valid{
    border-left: green solid 6px;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
    grid-column: 2/3;

}

caption {
  padding: 10px;
  caption-side: bottom;
	font-size: .85rem;
}


tr:first-child th {
	background-color: var(--back); 
    text-align: center;
}

 td {
	padding: 7px 15px;
	border: 1px solid var(--lines);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

.menulist {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--back);
	text-align: center;
}

.menulist button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--back);
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}


.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; 
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}



@keyframes fade{
    0%{
        opacity:0;
    }

    100%{
        opacity: 1 ;
    }
}


@media only screen and (max-width: 600px) {
    main{
        display: block;
        margin: 0%;
    }

    footer{
            display: block;
    }

    .content{
        display: none;
  }


}
  
  @media (min-width: 37.5em) {
  
      #menu {
          display: none;
      }
  
      .navigation {
          flex-direction: row;
      }
  
      .navigation li {
          display: block;
          flex: 1 1 100%;
      }



      
    }
  
  
  