@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Inter:wght@600&family=Montserrat:wght@500&family=Nunito:wght@300&family=Poppins&display=swap');



*{
    margin:0;
  }

:root {
    --mainColor: #ECE4B7;
    --lessAccent: #33CA7F;
    --lotsAccent: #FBD1A2;
    --lightAccent: #FC9F5B;
    --darkColor: #7DCFB6;
}

h1 h2 h3 h4 h5{
  font-family: 'Arimo', sans-serif;
}

header {
  background-color: var(--mainColor);
  display: grid;
  text-align: center;
  height: 50px;
}

nav {
	max-width: 100%;
}

.navigation {
	display: flex;
  flex-direction: row;
	list-style: none;
	background: var(--lessAccent);
	color: #fff;

}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}


.navigation li a:hover {
	background-color: wheat;
	color: #333;
	font-weight: 700;
}

#content{
  display: grid;
  grid-template-columns:  1fr 1fr;
}

.calltoaction{
  grid-column: 1/3;
  text-align: center;
  grid-row: 2/3;
  font-size: 24px;
  margin: 25px;
  border: 10px solid rgba(0,0,0,.1);
}

.cards{
grid-column: 1/2;
font-size: 25px;
padding: 10px;
border: 10px solid rgba(0,0,0,.1);
margin: 25px;

}

.island{
  align-items: center;
  width: 100%; 
  border: 1px solid rgba(0,0,0,.1);
  margin: 10px auto; 
	position: relative; 
	grid-column: 1/3;
	grid-row: 1/2;
	background-size: contain;
}

.weather{
  border: 10px solid rgba(0,0,0,.1);
  grid-column: 2/3;
  text-align: center;
  margin: 25px;

}

.island img{
  height: 400px;
  width: 100%;
  position: relative; 
}

.ferryLocation img{
  height: 100%;
  width: 100%;
  background-size: contain;
}

.coastalLocation img{
  height: 100%;
  width: 100%;
  background-size: contain;
}


.contact{
  border: 1px solid var(--lightAccent);
  margin-top: 10px;
  box-shadow: 0 0 10px var(--lotsAccent);
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 20px;
  font-size: x-large;
  text-align: center;
  padding: 25px;
}


form fieldset{
  margin: 2rem 1px;
  border: 1px solid var(--lotsAccent);
  box-shadow: 0 0 10px var(--lotsAccent);
  border-radius: 10px;
  padding: .5rem 2%;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 20px;
}

form legend{
  color: var(--lightAccent);
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: larger;
}

form label.top input, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 10px;
  color: #0b0707;
  max-width: 20rem;
}

form input.submitBtn{
  border: none;
  background-color: var(--lightAccent);
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 50%;
  max-width: 20rem;
}

iframe{
    padding: 15px;
    grid-column: 1/3;
    grid-row: 2/3;
}

#rentalinfo{
  margin: 2rem 1px;
  border: 1px solid var(--lotsAccent);
  box-shadow: 0 0 10px var(--lotsAccent);
  border-radius: 10px;
  padding: .5rem 2%;
}

.maps{
  grid-column: 1/3;
  grid-row: 2/3;

}



.agrental{
  background-color: var(--lotsAccent);
  text-align: center;
  margin: 25px;
}

Footer { 
  background-color: var(--mainColor);
      display: flex;
      justify-content: space-around;
      align-items: center;
  }


footer .social img {
      padding-top: 15px;
      height: 50px;
}
